:root{
	--color2d2d2d: #2d2d2d;
	--colora9a9a9: #a9a9a9;
	--colorffffff: #ffffff;
	--color000000: #000000;
	--colorff0000: #ff0000;
	--color0000ff: #0000ff;
	--color008000: #008000;
	--color131c2050: rgba(19,28,32,0.5);
}

.main{position: relative;}

.messageClass{width: fit-content;max-width: 100%;padding: 0 6.4rem;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 2;text-shadow: 0 0 0.4rem var(--color000000);font-size: 3.8rem;color: var(--colorffffff);}

.RecentTrends{width: 133.5rem;height: 100%;margin: 0 auto;padding-top: 7.2rem;position: relative;}
.RecentTrends .title{width: 66rem;margin: 0 auto;text-align: center;height: 15.7rem;}
.RecentTrends .title-en{line-height: 5.2rem;font-weight: bold;font-size: 3.3rem;color: var(--color2d2d2d);}
.RecentTrends .title-zh{line-height: 6.8rem;font-size: 4.4rem;color: var(--color2d2d2d);}
.RecentTrends .title-intro{font-size: 1.8rem;color: var(--colora9a9a9);line-height: 2.7rem;margin-top: 1rem;}
.titleAnimation span{opacity: 0;}
.show .titleAnimation:nth-child(1) span{animation: jump1 1s cubic-bezier(0.55,0.01,0.67,1.46) forwards var(--delay);}
.show .titleAnimation:nth-child(2) span{animation: jump2 1s cubic-bezier(0.55,0.01,0.67,1.46) forwards var(--delay);}
.show .titleAnimation:nth-child(3) span{animation: jump3 1s cubic-bezier(0.55,0.01,0.67,1.46) forwards var(--delay);}
.RecentTrends .RecentTrends-content{width: 80rem;height: calc(100% - 20rem);margin: 2rem 0 0 14rem;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 27.88% 27.88% 1fr;grid-template-areas: 'A B C' 'A D C' "E E C";grid-gap: 0.8rem;}
.RecentTrends .RecentTrends-content .item{background-size: cover;background-position: center center;background-repeat: no-repeat;position: relative;opacity: 0;left: -102rem;transition: transform 1s;}
.RecentTrends .RecentTrends-content .item:nth-child(1){grid-area: A;}
.RecentTrends .RecentTrends-content .item:nth-child(2){grid-area: B;}
.RecentTrends .RecentTrends-content .item:nth-child(3){grid-area: C;}
.RecentTrends .RecentTrends-content .item:nth-child(4){grid-area: D;}
.RecentTrends .RecentTrends-content .item:nth-child(5){grid-area: E;}
.RecentTrends .RecentTrends-content .item:hover{transform: scale(1.08);z-index: 20;}
.RecentTrends .RecentTrends-content .item div:nth-child(1){margin-bottom: 0.8rem;}
.RecentTrends .RecentTrends-content .item div{text-shadow: 0 0 0.4rem rgba(0,0,0,1);font-weight: bold;font-size: 2.4rem;color: var(--colorffffff);}
.RecentTrends .userInfoName{width: 20rem;height: 20rem;border-radius: 50%;position: absolute;top: 10rem;right: 30rem;background-size: cover;background-position: center;background-repeat: no-repeat;font-size: 12rem;opacity: 0;z-index: -1;}

#canvas2D{background-color: var(--color000000);}
.logs{position: absolute;top: 0;left: 0;padding-top: 7.2rem;}
.logs h2{color: var(--colorffffff);font-size: 4.4rem;width: fit-content;margin: 2.4rem auto;opacity: 0;transition: opacity 0.8s linear 0.8s;}
.logs h2.selectPages{opacity: 1;}
.logs .rowBetweenCenter{width: 100%;height: calc(100% - 10rem);margin-top: 0.2rem;padding: 0 3.2rem 2.4rem;}
.logs .item{width: calc((100% - 6.4rem) / 3);height: 100%;border-radius: 0.8rem;border: 0.3rem solid var(--colorffffff);overflow: hidden;position: relative;opacity: 0;transition: opacity 0.8s linear 0.8s;}
.logs .logs-title{width: 100%;height: 4.8rem;line-height: 4.8rem;text-align: center;font-size: 3.2rem;}
.logs .logs-center{width: 100%;height: calc(100% - 4.8rem);padding: 0 0.8rem;font-size: 1.8rem;font-family: '微软雅黑';}
.logs .item:nth-child(1) .logs-title{background-color: var(--colorff0000);color: var(--colorffffff);}
.logs .item:nth-child(2) .logs-title{background-color: var(--color0000ff);color: var(--colorffffff);}
.logs .item:nth-child(3) .logs-title{background-color: var(--color008000);color: var(--colorffffff);}
.logs .item:nth-child(1) .logs-center{color: var(--colorff0000);}
.logs .item:nth-child(2) .logs-center{color: var(--color0000ff);}
.logs .item:nth-child(3) .logs-center{color: var(--color008000);}
.logs .logs-center>div div:nth-child(2){margin-right: 1rem;}
.logs .logs-center>div{height: calc(100% / 12);}
.logs .item.selectPages{opacity: 1;}

.ManagementPlatform{padding-top: 7.2rem;background-image: url(../imgs/index/index8.jpg);background-size: cover;}

@keyframes jump1 {
	from{transform: translateY(300%);opacity: 0;}
	to{transform: translateY(0);opacity: 1;}
}
@keyframes jump2 {
	from{transform: translateY(200%);opacity: 0;}
	to{transform: translateY(0);opacity: 1;}
}
@keyframes jump3 {
	from{transform: translateY(600%);opacity: 0;}
	to{transform: translateY(0);opacity: 1;}
}
@keyframes leftShowRecentTrendsItem {
	for{opacity: 0;left: -102rem;}
	to{opacity: 1;left: 0;}
}

@keyframes rightShowRecentTrendsItem {
	from{right: -30rem;opacity: 0;z-index: inherit;}
	to{right: 10rem;opacity: 1;z-index: inherit;}
}